<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Navbar</span>
      <% if logged_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Home', user_path(session[:id]), class: "nav-link" %>
          </li>
        </ul>
        <%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link ml-auto" %>
      <% else %>
        <%= link_to 'ログイン', login_path, class: "nav-link ml-auto" %>
      <% end %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
